@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
body
{
    font-family : 'Marck Script', cursive;
  font-size: 36;
    background-color: #E5E5E5;
}
h1
{
    color: #C0C0C0;
    display:block;
    text-align: center;
}

.top-menu 
{
  background: #E3F2FD;
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 3px;
  height: 60px;
}
.menu-main li  { display: inline-block; }
.menu-main 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*текст*/
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    left: 210px;
    top: 20px;
    font-size: 14px;
    padding-left: 20px;
    
    font-family : 'Marck Script', cursive;
    font-size: 22px;
    font-weight: bold;
    color: black;
    transition:.5s linear;
}  
  
.search
{
      float: right;
      position: relative;
      top:-53px;
      padding: 5px;
}
.search input
{
    font-family : 'Marck Script', cursive;
      background: white;
      border: 1px solid #333333;
      box-sizing: border-box;
      border-radius: 4px;
      color: #C0C0C0
}
.search button
{
    font-family : 'Marck Script', cursive;
      background: #FFFFFF;
      border: 1px solid #0275D8;
      box-sizing: border-box;
      border-radius: 4px;
      color: #0275D8;
}
.table
{
    font-family : 'Marck Script', cursive;
    font-size: 18px;
    background-color:#FFFFFF; 
    height: 50px;
    color: #373A3C; 
}
.table a
{
    font-family : 'Marck Script', cursive;
    font-size: 18px;
    color: #373A3C
}